* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 100px auto;
    max-width: 400px;
    width: 100%;
}

header {
    background-color: #474747;
    padding: 10px 400px;
}

header nav li {
    display: inline;
    margin: 13px;
    font-size: 20px;
}

header nav li a {
    color: #8ff1b3;
    text-decoration: none;
}

header .inicial {
    display: flex;
    align-items: center;
    justify-content: space-between;
}