@import "variaveis.less";


* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 100px auto;
    max-width: 400px;
    width: 100%;
}

header {
    background-color: @corPrincipal;
    padding: 10px 400px;
}

header nav li {
    display: inline;
    margin: 13px;
    font-size: 20px;
}

header nav li a {
    color: @corSecudaria;
    text-decoration: none;
}

header nav li a:hover {
    color: @corHoverSecudaria;
    font-size: 21px;
}

header .inicial {
    display: flex;
    align-items: center;
    justify-content: space-between;
}