@corPrincipal: #474747;
@corSecudaria: #8ff1b3;
@corHoverSecudaria: #338f54;

@FontTitulo: "Caprasimo", serif;
@FontSubTitulo: "Charm", cursive; ;
@FontText: "Nunito", sans-serif;
@FontSubText:  "Lexend Mega", sans-serif;