* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7d8;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
header {
  background-color: #1A120B;
  padding: 20px 400px;
}
header nav li {
  display: inline;
  margin: 13px;
  font-size: 20px;
}
header nav li a {
  color: #D5CEA3;
  text-decoration: none;
  font-family: "Charm", cursive;
}
header nav li a:hover {
  font-size: 20.5px;
  cursor: pointer;
  text-shadow: 0 0 10px #3C2A21, 0 0 20px #3C2A21;
}
header .inicial {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section {
  margin: 200px 0;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section img {
  margin-left: 400px;
}
section h4 {
  font-size: 25px;
  margin: 0 310px;
  font-family: "Lexend Mega", sans-serif;
  color: #a18900;
  text-transform: uppercase;
}
section h1 {
  font-family: "Caprasimo", serif;
  align-items: center;
  margin-left: 350px;
}
section h3 {
  font-family: "Charm", cursive;
  color: #3C2A21;
  margin-left: 380px;
  font-size: 20px;
  text-transform: uppercase;
}
section p {
  font-family: "Nunito", sans-serif;
  margin: 0 100px;
  font-size: 22px;
}
#links .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
#links .card {
  width: 15rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}
#links .card-img-top {
  height: auto;
}
#links .card-body {
  padding: 15px;
  background-color: #fff;
}
#links .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Charm", cursive;
}
#links .card-text {
  font-size: 15px;
  color: #1A120B;
  margin: 15px auto;
  font-family: "Nunito", sans-serif;
}
#links .btn-primary {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  color: #fff;
  background-color: #D5CEA3;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  font-family: "Lexend Mega", sans-serif;
}
#links .btn-primary:hover {
  background-color: #3C2A21;
}
footer {
  background-color: #1A120B;
  padding: 20px 400px;
  color: #D5CEA3;
}
footer p {
  margin-left: 400px;
}
