* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
header {
  background-color: #474747;
  padding: 10px 400px;
}
header nav li {
  display: inline;
  margin: 13px;
  font-size: 20px;
}
header nav li a {
  color: #8ff1b3;
  text-decoration: none;
  font-family: "Charm", cursive;
}
header nav li a:hover {
  font-size: 20.5px;
  color: #338f54;
  cursor: pointer;
  border-bottom: 0.05px outset #000000;
  text-shadow: 0 0 20px #338f54, 0 0 40px #338f54;
}
header .inicial {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section {
  margin: 200px 0;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section h4 {
  font-size: 25px;
  margin: 0 310px;
  font-family: "Lexend Mega", sans-serif;
  color: #a18900;
  text-transform: uppercase;
}
section h1 {
  font-family: "Caprasimo", serif;
  color: #474747;
  align-items: center;
  margin-left: 350px;
}
section h3 {
  font-family: "Charm", cursive;
  color: #338f54;
  margin-left: 380px;
  font-size: 20px;
  text-transform: uppercase;
}
section p {
  font-family: "Nunito", sans-serif;
  margin: 0 100px;
  font-size: 22px;
}
